.card{
    border-radius: 10px;
    background-color: white;
    width:31.5%;
    flex-grow: 1;
}

.card__infobar{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding:25px 32px 31px 21px;
}

.card__img{
    max-width: 100%;
}

.card__title{
font-size: 24px;
font-weight: 900;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color:black;
margin:0;
text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__icon{
    width: 21px;
    height: 19px;
    /* padding: 0; */
    background-color:transparent;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/cards/card-icon.svg);
    border:white 1px solid;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .card{
        border-radius: 10px;
        background-color: white;
        width:100%;
        flex-grow: 1;
    }
}