.header {
    margin: 36px 0;
    border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
    padding: 0 0 41px;
}

.header__logo {
    max-width: 173px;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 36px 0;
        padding: 0 0 32px 27px;
    }

    .header__logo {
        max-width: 126px;
    }
}