.delete-popup__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: black;
    margin: 0 34px 38px 0;
}

.delete-popup__field-submit {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    padding: 15px 150px 15px;
    transition: opacity linear 0.3s;
    cursor: pointer;
    border: none;
    width: 100%;
}